# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN:Open Source

* egal@salesforce.com
* abelladeve@salesforce.com
* evaknin@salesforce.com
* gkarp@salesforce.com
* idahan@salesforce.com
* jvelger@salesforce.com
* okoren@salesforce.com
* skrichbets@salesforce.com
* spanchenko@salesforce.com
* tvaingart@salesforce.com
* varestov@salesfoce.com
