<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %-5r [%d{dd MMM yyyy HH:mm:ss,SSS}] [%-5p] [%t] [%c] - %m%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <logger name="org.elasticsearch" level="error" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>